* {
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
  }
  
  body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Style the top navigation bar */
  .topnav {
	overflow: hidden;
	background-image: url(../Images/bg.png);
	/* background-color: #333; */
  }

  
  /* Style the content */
  .content {
	background-color: #ddd;
	/* padding: 10px;
	height: 200px; Should be removed. Only for demonstration */
  }
  
  /* Style the footer */
  .footer {
	background-color: #f1f1f1;
	padding: 10px;
  }

  #logo{
    grid-area: logo;
    position: relative;
    width: 300px;
    height: 100px;
    float: left;
    margin-top: px;
    margin-left: 20px;
}


.zoom{
	border-radius: 50%;
	font-size: 16px;
	padding: 10px;
	margin-top: 30px;
	margin-left: 10px;
	background: radial-gradient(lightblue,#2d8dfd);
	color: black;
	text-shadow: 1px 1px 1px #fff;
	font-weight: bolder;
	border: none;
	cursor: pointer;
	border: inset;
}
image{
    display: block;
    width: 100%;
    height: 50px;
    opacity: 0.7;
}

.image-content{
	position: absolute;
	bottom: 0; /* At the bottom. Use top:0 to append it to the top */
	background: rgb(0, 0, 0); /* Fallback color */
	background: rgba(0, 0, 0, 0.5);
	color: #f1f1f1; /* Grey text */
	width: 100%; /* Full width */
	padding-right: 20px;
	padding:100px; 
  
}
.grid-container{
	display: grid;
	background-image: url(./Images/background.png);
    grid-template-areas: 'image image image-content image-content image-content image-content image-content image-content image image'
                        'section-two section-two section-two section-two section-two section-two section-two section-two section-two  '
						'section-three section-three section-three section-three section-three section-three section-three section-three section-three '
						'footer footer footer footer footer footer footer footer'
}
h1{
    grid-area: image-content;
    float: right;
    padding-left: 1000px;
    padding-bottom: 800px;
    padding:10 em 0 em;
    position: absolute;
    text-align: center;
    font-family: 'Rowdies', cursive;
    font-size: 60px;
    letter-spacing: 10px;  
}

  h2{
    grid-area: image-content;
      margin: 0;
      padding: 6em 0;
      padding-left: 1000px;
      text-align: center;
      position: absolute;
      text-align: center;
      font-style: italic;
      font-size: 30px;
      letter-spacing: 10px;
      font-family: 'Lobster', cursive;
  }

 .tablink {
     grid-area: section-two;
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    padding: 34px 16px;
    font-size: 17px;
    width: 25%;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 1px 2px 4px grey;
    transition: background-color 0.5s ease;
  }
  .tablink:hover {
    background-color: #777;
  }
  /* Style the tab content (and add height:100% for full page content) */
  .tabcontent {
    grid-area: section-two;
    color:black;
    display: none;
    padding: 20px 40px;
    height: 100px;
  }
  .image-content{
      position: absolute;
      bottom: -100px; /* At the bottom. Use top:0 to append it to the top */
      background: rgb(0, 0, 0); /* Fallback color */
      background: rgba(0, 0, 0, 0.5);
      color: #f1f1f1; /* Grey text */
      width: 100%; /* Full width */
      padding-right: 20px;
      padding:100px; 
    
  }
#shoes{background-color: white;}
#womens{background-color: white;}
#mens{background-color:white;}
#accessories {background-color: white;}

.container{
    grid-area: section-two;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 500px;
    margin:3px;
    text-align: center;
    font-family: arial;
    float: left;
    padding: 20px 20px;
	margin: 25px;
	background-color: #FFF;
	margin-left: 62.5px;
  }
  .price{
      color:grey;
      font-size: 22px;
      color: #000;
  }
  .container button{
    border: none;
    outline: 0;
    padding: 20px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;

  }
  #footer{
	  /* grid-area: footer; */
	background: #333333;
	/* margin: 5px 5px 5px 5px; */
}

#footerLogo{
	/* float: left; */
}

/* style for footer image */
#footerImage{
	width: 300x;
	height: 100px;
	margin-left: 20px;
}

.footer-h3{
	font-size: 1.17em;
	color:  aliceblue;
	letter-spacing: 0;
	text-shadow: none;
}

.footer-para{
	font-size: 16px;
	color:  aliceblue;
	letter-spacing: 0;
	text-shadow: none;
}
#copy-blue{
	color: #3298F7;
}

#copyrights{
	/* float: left; */
	margin: 30px auto;
	margin-left: 400px;
	margin-bottom: 0;
}

#address{
	/* float: left; */
	margin-left: 10%;
	color: aliceblue;
	font-size: 16px;
}

#contact{
	margin-left: 5%;
	/* float: left; */
	color: aliceblue;
	font-size: 16px;
}

#editor{
	text-decoration: none;
	text-transform: uppercase;
	padding: 10px 24px;
	color: white;
	font-size: 18px;
	text-align: right;
	float: right;
	
}

#editor:hover{
	color : gold;
}

hr{
	border: 1px dashed #09F0C1;
 	border-radius: 5px;
}

#user{
	width: 25px;
	height: 25px;
	margin-right: 40px;
}

#back{
	width: 25px;
	height: 25px;
	margin-left: 50px;
}
#top{
	text-decoration: none;
	text-transform: uppercase;
	padding: 10px 24px;
	color: white;
	font-size: 18px;
	text-align: left;
	/* float: left; */
}

#top:hover{
	color: cyan;
}